:root {
	--primary-color: hsl(257, 40%, 49%);
	--secondary-color: hsl(300, 69%, 71%);
	--white: hsl(0, 0%, 100%);
	--heading-font: 'Poppins', sans-serif;
	--body-font: 'Open Sans', sans-serif;
}

body {
	text-rendering: optimizeSpeed;
  background-color: var(--primary-color);
	color: var(--white);
	font-family: var(--body-font);
	font-size: 16px;
}

.main-container {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
	background-image: url('/assets/images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 4rem 0rem 4rem;
  display: grid;
}

header {
  padding-bottom: 2rem;
}

/* Hidden h1 for accessibility */
.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.site-logo {
  width: 125px;
}

main {
  /* padding-bottom: 2rem; */
}

.row {
  text-align: center;
}

.col {
  padding: 2rem 0;
  text-align: center;
}

.product-img {
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-family: var(--heading-font);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.75;
}

.col-two p {
      margin: 0 auto;
      max-width: 350px;
      width: 100%;
}

button {
  font-family: var(--body-font);
  background: var(--white);
  color: var(--primary-color);
  padding: .75rem 4rem;
  border-radius: 1.5rem;
  border: none;
  margin-top: 1.5rem;
  transition: background 250ms;
}

button:hover {
  background: var(--secondary-color);
  color: var(--white);
  cursor: pointer;
}

footer {
  /* padding: 2.5rem 0 2rem 0; */
}

.sm-row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}

ion-icon {
  font-size: 24px;
}

.fm-attribution-row {
  margin-top: 1.25rem;
  text-align: center;
}

.fm-attribution {
	font-size: .75rem;
}

.fm-attribution a {
	color: var(--secondary-color);
}

@media (min-width: 899px){

  .site-logo {
    width: 140px;
  }

  .main-container {
    background-image: url('/assets/images/bg-desktop.svg');
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .col {
    text-align: left;
    flex-basis: 48.5%;
  }

  h2{
    font-size: 2rem;
  }

  .col-two p {
    max-width: 385px;
    font-size: 1rem;
    margin: unset;
  }

  button {
    font-size: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .sm-row {
    margin: unset;
  }

  .fm-attribution-row {
    text-align: right;
  }
}



@media (min-width: 992px){

}

@media (min-width: 1200px){
  .site-logo {
    width: 150px;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2.25rem;
  }

  .product-img {
    margin: 0 auto;
    width: 100%;
  }

  /* .col {
    flex-basis: 50%;
  } */

  .col-two p {
    max-width: 475px;
    font-size: 1.25rem;
  }

  button {
    margin-top: 2rem;
    font-size: 1.125rem;
  }

}
