:root {
	--primary-color: hsl(257, 40%, 49%);
	--secondary-color: hsl(300, 69%, 71%);
	--white: hsl(0, 0%, 100%);
	--heading-font: 'Poppins', sans-serif;
	--body-font: 'Open Sans', sans-serif;
}

body {
	text-rendering: optimizeSpeed;
	font-family: var(--body-font);
	font-size: 16px;
  line-height: 1.5;
  background-color: var(--primary-color);
	color: var(--white);
}

.main-container {
  min-height: 100vh;
	background-image: url('/assets/images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2.75rem;
}

@media (min-width: 768px){
  .main-container {
    background-image: url('/assets/images/bg-desktop.svg');
  }
}

header {
  padding-bottom: 2rem;
}

/* Hidden h1 for accessibility */
.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.site-logo {
  width: 140px;
}

main {
  padding-bottom: 2rem;
  max-width: 829px;
  width: 100%;
}

.row {
  text-align: center;
}

.col {
  padding: 2rem 0;
  text-align: center;
}

h2 {
  font-family: var(--heading-font);
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
}

button {
  /* font-size: .85rem; */
  font-family: var(--body-font);
  background: var(--white);
  color: var(--primary-color);
  padding: .75rem 4rem;
  border-radius: 1.5rem;
  border: none;
  margin-top: 1.5rem;
  transition: background 250ms;
}

button:hover {
  background: var(--secondary-color);
  color: var(--white);
  cursor: pointer;
}

/* Main section media query */
@media (min-width: 768px){
  .row {
    display: flex;
    justify-content: space-between;
  }

  .col {
    text-align: left;
    flex-basis: 47%;
  }

  h2{
    font-size: 1.5rem;
  }

  p {
    font-size: .875rem;
  }
}

footer {
  padding: 2.5rem 0 2rem 0;
}

.sm-row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}

ion-icon {
  font-size: 24px;
}

.fm-attribution-row {
  margin-top: 1.25rem;
  text-align: center;
}

.fm-attribution {
	font-size: .75rem;
}

.fm-attribution a {
	color: var(--secondary-color);
}

/* Footer media query */
@media (min-width: 768px){
  footer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .sm-row {
    margin: unset;
  }

  .fm-attribution-row {
    text-align: right;
  }
}

